
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />

<div style="margin-bottom:330px;" class="alert alert-primary">
    <h3>Siparişiniz Başarıyla Oluşturuldu!</h3>
</div>